.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body{
  background-color: #c0392b;
  color: #fff;
}

h1{
  color: #000;
}

h2{
  color: #000;
}

p{
  color: #fff;
}

ul{
  color: #000;
}

.card-body{
  
    color: #000;
  
}
.pokeList{
  color: #fff;
}

.nav-link{
  color: #000;
}

.title{
  color: #fff;
}
